body {
	margin: 0;
	background: url(../../almacenamiento/bg/.jpg) no-repeat;
	width: 100%;
}

/* Estilo para pantalla pequeña */
@media screen and (max-width: 768px) {
	body {
		background: url(../../almacenamiento/bg/bg-movil.jpg) no-repeat;
	}
}

.splash-screen {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	opacity: 1;
	/* Añadimos la propiedad de opacidad */
	transition: opacity 1s ease;
	/* Agregamos una transición de 1 segundo para la opacidad */
}

.splash-screen.hidden {
	opacity: 0;
	/* Cambiamos la opacidad a 0 cuando se aplica la clase hidden */
}

.splash-content {
	text-align: center;
}

.letra-5 {
	font-size: 5em;
}

.mt-10 {
	margin-top: 10%;
}

.imagen-logo {
	width: 200%;
}

.boton-index {
	background-color: #0764a691;
	border-radius: 50px;
	border: none;
	color: white;
	font-size: 3em;
}

/* Estilos específicos para dispositivos móviles */
@media screen and (max-width: 768px) {

	/* Redefine los estilos de los botones para dispositivos móviles */
	.boton-index {
		background-color: #e4e4e49f;
		border-radius: 50px;
		border: none;
		color: rgb(0, 0, 0);
		font-size: 1.5em;
	}
}


/* ------------------------------------------------------------------------ */
body {
    font-family: 'Overpass', sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    
    margin: 0;
    background-color: #0f4c75;
}

#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

#central {
    max-width: 320px;
    width: 100%;
}

.titulo {
    font-size: 250%;
    color:#bbe1fa;
    text-align: center;
    margin-bottom: 20px;
}

#login {
    width: 100%;
    padding: 50px 30px;
    background-color: #3282b8;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #1b262c;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#1b262c;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #bbe1fa;
    
    margin-top: 10px;
}

#login button:hover {
    background-color: #0f4c75;
    color:#bbe1fa;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #0f4c75;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #3282b8;
}
